/*Random notes*/

/*   REM    */
/*Alternatively, you could use the rem unit instead of px */
/*which is relative to the root font-size of the document.*/

/*   INTRO TO CSS LAYOUT   */
/*https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Introduction*/
/*   CSS LAYOUT CNTD.   */
/*https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout*/

* { /* All elements (universal selector) */
    /* Websites explaining "box-sizing" with visual elements */
    /* https://css-tricks.com/box-sizing/ */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0; /* Adjust this value to match the height of navbar? */
    padding: 0;
}

header {
    position: sticky;

    top: 0;
    padding: 10px 2%;

    height: 80px;
    max-width: 100%;

    /*Found a cool website demonstrating css flexbox rules*/
    /*https://flexbox.help/*/
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #333;
    z-index: 1;
}
header.small {
    height: 4%; /*maybe change to fixed size? 60px*/
    transition: height 0.5s;
}

.logo {
    margin-right: auto;
    border-radius: 8px;
    /*!*border-radius: 50%;*! Turns background into a circle*/
    transition: box-shadow 1s;
}

.logo-responsive
{
    height: 100%;
    width: 100%;
    object-fit: cover;

    max-width: 200px;
    max-height: 50px;
}

.section
{
    min-width: 100%;
    max-width: 100%;
    width: inherit;

    min-height: 750px;
    /*max-height: 500px;*/

    display: inline-block;
    justify-content: space-between;
    align-items: normal;

    background-color: rgba(0, 136, 169, 0.8);
}

p {
    font-family: "Montserrat", sans-serif;
    margin: 2% 5% 2% 5%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a,
.cta {
    /*FONT SETTINGS*/
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;

    /*FORMAT SETTINGS*/
    padding: 1px;

    color: #edf0f1;
    text-decoration: none;
}

